body {
    
    color: white;
    font-family: "Poppins", sans-serif;
    background: url(/images/bg-intro-desktop.png);
    /* background-blend-mode: luminosity; */
    background-color: hsl(0, 100%, 74%);
    /* font-weight: 700; */
}


#main-container {
    margin: 100px;
}

/* LEFT SIDE */

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text {
    padding-top: 20px;
}

/* Purple card */

#card {
    border-radius: 10px;
    background-color: hsl(248, 32%, 49%);
    margin-bottom: 20px;
    filter: drop-shadow(0px 8px 1px #a18282);
}

#card p {
    padding-top: 10px;
    text-align: center;
}

/* INPUTS */



.input-container {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0px 8px 1px #a18282);
    padding: 20px;
}

.inside-container {
    margin-top: 20px;
}

input {
    height: 80px;
    margin-bottom: 20px;
}
.top-input {
    margin-top: 10px;
}

.form-input {
    height: 50px;
}

.green-button {
    background-color: hsl(154, 59%, 51%);
    border: none;
    margin-top: 10px;
    height: 50px;
    color: white;
}

#terms {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}


.terms-font {
    font-size: 10px;
    align-items: center;
    color: rgb(132, 132, 132);
}

.terms {
    color: red;
}


/* MOBILE */

@media only screen and (max-width: 991px) {
    .left-side {
        text-align: center;
    }
  }